.connecting-modal__content {
  text-align: center;
  padding: 10px 0;
  position: relative;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connecting-modal__content--error {
  min-height: 160px;
}

.connecting-modal__message {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.connecting-modal__preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  pointer-events: none;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.connecting-modal__actions {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  z-index: 3;
}

.connecting-modal__actions button {
  flex: 1;
}

@media (max-height: 450px) {
  .connecting-modal__content {
    padding: 0;
    min-height: 180px;
  }

  .connecting-modal__message {
    margin-bottom: 5px;
    font-size: 0.85rem;
  }

  .connecting-modal__preloader-wrapper {
    bottom: 60px;
  }

  .connecting-modal__preloader {
    height: 180px !important;
    min-height: 180px !important;
  }

  .connecting-modal__content--error {
    min-height: 140px;
  }

  .connecting-modal__actions {
    margin-top: 10px;
    z-index: 2;
  }
}

.connecting-modal__error-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  min-height: 120px;
}

.connecting-modal__error {
  width: 100%;
}
